nav{
  padding:15px
}

.container{
  display: flex;
}
.container div{
  flex:1;
}
nav a{
  flex: 1;
  color:rgb(0, 0, 0);
  text-align:center;
}

*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}


a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid rgb(255, 0, 0);
}

#title{
  background-color: rgba(255, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-size: 64px;
}

.main{
  font-size:50pt;
  color: blue;
} 

.toronto {
  background-image: url("toronto2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.canada img{
  height: 300px;
}

.canada div{
  text-align: center;
  padding: 20px;
}

