nav{
  padding:15px
}

.container{
  display: flex;
}
.container div{
  flex:1;
}
nav a{
  flex: 1;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}


a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid rgb(255, 0, 0);
}

#title{
  background-color: rgba(255, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-size: 64px;
}

.main{
  font-size:50pt;
  color: rgb(255, 0, 0);
} 

.toronto {
  background-image: url("toronto2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.canada img{
  height: 400px;
}

.canada div{
  text-align: center;
  padding: 20px;
}

#nav {
  height: 50px;
  align-items: center;
  background-color: rgb(0, 11, 71);
  color:rgb(255, 255, 25);
}

.nf img{
  height: 600px;
  
}

.nf div{
  text-align: center;
  padding: 20px;
}

.cn img{
  height: 600px;
  
}

.cn div{
  text-align: center;
  padding: 20px;
}